{% extends 'lr/base.html' %}
{% block content %}
    <div class="formulario sombra">
        <h1>Iniciar sesión</h1>
        {% csrf_token %}
        <form method="POST" class="user">
            <div class="username">
                <i class="fa-solid fa-user"></i>
                {{ form.username }}
                <label for="#">Nombre de usuario</label>
            </div>
            <div class="username">
                <i class="fa-solid fa-lock"></i>
                {{ form.password }}
                <label for="#">Contraseña</label>
            </div>
            <div class="recordar">¿Olvidaste tu contraseña?</div>
            <input type="submit" value="Iniciar sesión">
            <div class="registrarse">
                ¿No tienes una cuenta? <a href="{% url 'register' %}">Registrate</a>
            </div>
        </form>
    </div>
{% endblock %}