{% extends 'app/base.html' %}
{% block content %}
{% load static %}
	<div class = "LOGOE">
		<div class="logo-tienda">
			<img src="/media/{{ tienda_n.imagen }}" alt="Logo de la tienda" class="logo">
			<p class="nombre-tienda"> {{ tienda_n.Nombre | upper}} </p>
		</div>
	</div>
    <main class="productos">
		<p>Filtros de busqueda</p>
		<div id="filters" class="portfolio-filters">
			<ul class="list-inline">
					  <li><a id="all" href="#" data-filter="*" class="active"><h5>All</h5></a></li>	
					  {% for categoria in categorias %}
						<li><a href="#" data-filter=".branding"><h5>{{ categoria.Nombre }}</h5></a></li>
					  {% endfor %}
			</ul>
		</div>
        <div class="container-items">
			{% csrf_token %}
			{% for producto in productos %}
				<div class="item">
					<figure>
						<img
							src="{{ producto.imagen.url }}"
							alt="producto"
						/>
					</figure>
					<div class="info-product">
						<h2>{{ producto.Nombre }}</h2>
						<p class="price">${{ producto.Precio }}</p>
						<button>Añadir al carrito</button>
					</div>
				</div>
			{% endfor %}
			{% if isnull %}
				<h1>No hay productos</h1>
			{% endif %}
		</div>

    </main>

	<h1>Discover...</h1>
	<section class="seccion-enlaces">
		
        <div class="enlace">
            <a href="{% url 'descuentos' idTienda=idTienda %}">
                <img src="/media/otros/desc.png" alt="Descuento">
                <p>Descuentos</p>
            </a>
        </div>
        <div class="enlace">
            <a href="{% url 'eventos' idTienda=idTienda %}">
                <img src="/media/otros/event.png" alt="Eventos">
                <p>Eventos</p>
            </a>
        </div>
    </section>

	<section class="testimonials">
		<h1>What Our Customer Says</h1>
		<div class="testimonial-container">
			{% for reseña in Reseñas %}
			<div class="testimonial">
				<span class="icon"><i class="fas fa-quote-left"></i></span>
				<p>{{ reseña.Comentario }}</p>
				<div class="user">
					<img src="/media/{{ reseña.idUsuario.imagen }}" alt="">
					<div class="user-info">
						<h4>{{ reseña.idUsuario.user.first_name }} {{ reseña.idUsuario.user.last_name }}</h4>
						<small>{{ reseña.Fecha }}</small>
					</div>
				</div>
			</div>
			{% endfor %}
	</section>

{% endblock %}